<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/gaunt.css') }}" type='text/css'>
    <title>Inicio</title>
</head>
<body id="contenedor">
    <div id="fon">
        <ol  id="listas">
        {% if nivel==1 %}
        <li><a href="/registroU">Registrar usuario</a></li>

        <li><a href="/listS">Listar Salas</a></li>
        <li><a href="/listC">Listar Usuario</a></li>
        <li><a href="/reserv">Reservar Sala a Cliente </a></li>
        <li><a href="/listR">Lista de Reservas </a></li>    
        {% endif %}
        {% if nivel==0 %}
        <li><a href="listS">Listar Salas</a></li>
       <li><a href="/reserv">Reservar Sala </a></li>
       <li><a href="/listR">Mis Reservas </a></li>
       {% endif %}
       <li><a href="/">Cerrar Sesion </a></li>
        </ol>
    </div>
    <div class="contenedorTabla">
        <div class="chart">
            <div class="chart-row chart-period">
                <div class="chart-row-item">Salas</div>
                {% for item in  range( hora,19 ) %}
                    <span>{{ item  }}:00</span>  
                {% endfor %}

                
            </div>
            <div class="chart-row chart-lines">
              <span></span>
            </div>
            <!--asdas-->
            <div class="chart-row">
                {% for item in salas %}
                    
                    <div class="chart-row-item">{{ item.cod_sala }}</div>

                    <ul class="chart-row-bars"> 
                    <li class="chart-li-uno">Planning</li>
                       <div class="chart-row"></div>
                    
                    
                    <li class="chart-li-dos">Planning</li>
                    </ul>
                {% endfor %}
              
            </div>
            
          </div>

    </div>
</body>
</html>
