<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <!--<link rel="stylesheet" href="{{ url_for('static',filename='styles/gaunt.css') }}" type='text/css'>-->
    <title>Inicio</title>
    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js"></script>
    <a href="/inicio{{nivel}}"><h1 style="text-align: center;"> DATASYSTEM: PROYECTO RESERVAS </h1></a>
</head>
<style type="text/css">

    #calendar {

        background-color: rgba(82, 230, 63, 0.534);
        

    }

</style>

<body id="contenedor">
    <div id="fon">
        <ol  id="listas">
        {% if nivel==1 %}
        <li><a href="/registroU">Registrar usuario</a></li>

        <li><a href="/listS">Listar Salas</a></li>
        <li><a href="/listC">Listar Usuario</a></li>
        <li><a href="/reserv">Reservar Sala a Cliente </a></li>
        <li><a href="/listR">Lista de Reservas </a></li>    
        {% endif %}
        {% if nivel==0 %}
       <li><a href="/reserv">Reservar Sala </a></li>
       <li><a href="/listR">Mis Reservas </a></li>
       {% endif %}
       <li><a href="/">Cerrar Sesion </a></li>
        </ol>
    </div>
    <div id="calendar"></div>
        <script>
            let calendarEl= document.getElementById('calendar');
            let calendar= new FullCalendar.Calendar(calendarEl,{
                height: 700,
                events:[ 
                    {% for x in todo %}
                    {   
                        title: 'Sala:{{x.cod_sala}}({{x.horario_inicio}} a {{x.horario_fin}})',
                        start: '{{x.fecha}}',
                        color:'green',
                    },
                    
                    {% endfor %}
                ]
                
            });
            calendar.render();
        </script>
    
    
    
</body>
</html>
