<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/gaunt.css') }}" type='text/css'>
    <title>Inicio</title>
    <a href="/inicio{{nivel}}"><h1 style="text-align: center;"> DATASYSTEM: PROYECTO RESERVAS </h1></a>
</head>
<body id="contenedor">
    <div id="fon">
        <ol  id="listas">
            {% if nivel==1 %}
            <li><a href="/registroU">Registrar usuario</a></li>
    
            <li><a href="/listS">Listar Salas</a></li>
            <li><a href="/listC">Listar Usuario</a></li>
            <li><a href="/reserv">Reservar Sala a Cliente </a></li>
            <li><a href="/listR">Lista de Reservas </a></li>    
            {% endif %}
            {% if nivel==0 %}
           <li><a href="/reserv">Reservar Sala </a></li>
           <li><a href="/listR">Mis Reservas </a></li>
           {% endif %}
           <li><a href="/">Cerrar Sesion </a></li>
        </ol>
    </div>
    
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
      {% for message in messages %}  
           <h2>{{ message }}</h2>  
      {% endfor %}  
    {% endif %}  
      {% endwith %}
    {% if nivel==0 %}
    <table class="tabla">
      <h1>Lista de Reservas</h1>
        <tr>
              
            <th>Codigo Reserva</th>
            <th>Sala numero</th>
        
            <th>fecha</th>
        
            <th>Horario Inicial</th>
            <th>Horario Final</th>
           
        
        </tr>
        <tbody>
            {% for data in datos %}
        
            <tr>
            <td>  {{ data.cod_reserva }}</td>
        
            <td>  {{ data.cod_sala }}</td>
        
            <td>  {{ data.fecha }}</td>
        
            <td>  {{ data.horario_inicio }}</td>
            <td> {{ data.horario_fin }}</td>
            
            
            <td>
                <a href="/editR{{ data.cod_reserva }}" method="GET">Editar</a>
              <a href="/elimR/{{ data.cod_reserva }}" onclick="return confirm('Estas seguro que desea cancelar la reserva?');">Cancelar Reserva</a>
            </td>
           
            </tr>
          {% endfor %}
    </table>
    {% endif %}

    {% if nivel==1 %}
    <table class="tabla">
      <h1>Lista de Reservas</h1>
        <tr>
              
            <th>Codigo Reserva</th>
            <th>Sala numero</th>
            <th>Nombre Cliente</th>
            
            <th>fecha</th>
        
            <th>Horario Inicial</th>
            <th>Horario Final</th>
           
        
        </tr>
        <tbody>
            {% for data in datos2 %}
        
            <tr>
            <td>  {{ data.cod_reserva }}</td>
        
            <td>  {{ data.cod_sala }}</td>
                
            <td>  {{ data.nombre }} {{ data.apellido}}</td>
            <td>  {{ data.fecha }}</td>
        
            <td>  {{ data.horario_inicio }}</td>
            <td> {{ data.horario_fin }}</td>
            
            
            <td>
              <a href="/editR{{ data.cod_reserva }}" method="GET">Editar</a>
              <form action="/elimR/{{ data.cod_reserva }}" method="POST">
                <button  type="submit" onclick="return confirm('Estas seguro de cancelar reserva del cliente?');">Cancelar Reserva</button>
                </form>
            </td>
           
            </tr>
          {% endfor %}
    </table>
    {% endif %}
    
</body>
</html>
