<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type='text/css'>
    <title>Lista de Usuario</title>
    <a href="/inicio{{nivel}}"><h1 style="text-align: center;"> DATASYSTEM: PROYECTO RESERVAS </h1></a>
</head>
<body id="contenedor">
    <div >
        <ol  id="listas">
            {% if nivel==1 %}
            <li><a href="/registroU">Registrar usuario</a></li>
    
            <li><a href="/listS">Listar Salas</a></li>
            <li><a href="/listC">Listar Usuario</a></li>
            <li><a href="/reserv">Reservar Sala a Cliente </a></li>
            <li><a href="/listR">Lista de Reservas </a></li>    
            {% endif %}
            {% if nivel==0 %}
           <li><a href="/reserv">Reservar Sala </a></li>
           <li><a href="/listR">Mis Reservas </a></li>
           {% endif %}
           <li><a href="/">Cerrar Sesion </a></li>
        </ol>
    </div>
    <h1>Lista de Clientes</h1>
    {% with messages = get_flashed_messages() %}  
    {% if messages %}  
      {% for message in messages %}  
           <h2>{{ message }}</h2>  
      {% endfor %}  
    {% endif %}  
      {% endwith %}
    <table class="tabla" align="center">
        <tr>
              
            <th>Codigo</th>
            <th>Nombre</th>
        
            <th>Apellido</th>
        
            <th>CI</th>
            <th>Numero</th>
            <th>Direccion</th>
            <th>Correo</th>
            <th>Nivel</th>
        
        </tr>
        <tbody>
            {% for data in datos %}
        
            <tr>
            <td>  {{ data.cod_usuario }}</td>
        
            <td>  {{ data.nombre }}</td>
        
            <td>  {{ data.apellido }}</td>
        
            <td>  {{ data.ci }}</td>
            <td> {{ data.numero }}</td>
            <td>  {{ data.direccion }}</td>
            <td> {{ data.correo }}</td>
            <td> {% if data.nivel==1 %} Administrador {% endif %} {% if data.nivel==0 %} Cliente {% endif %}</td>
            <td>
              <a href="/upd{{data.cod_usuario}}" method="GET">Editar</a>
              <form action="/elimC/{{ data.cod_usuario }}" method="post">
              <button  onclick="return confirm('Estas seguro de borrar este Usuario?');">Borrar</button>
            </form>
            </td>
           
            </tr>
          {% endfor %}
    </table>
    
</body>
</html>