<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/inicio.css') }}" type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/gaunt.css') }}" type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/main.css') }}" type='text/css'>
    <title>Lista de Salas</title>
    <script type="text/javascript">	
    function ActivarCampoOtroTema(){		
        var contenedor = document.getElementById("OtroTema");
    		contenedor.style.display = "block";	
            	return true;	}
    </script>
</head>
<body id="contenedor">
    
  <div id="fon">
    <ol  id="listas">
    {% if nivel==1 %}
    <li><a href="/registroU">Registrar usuario</a></li>

    <li><a href="/listS">Listar Salas</a></li>
    <li><a href="/listC">Listar Usuario</a></li>
    <li><a>Reservar Sala a Cliente </a></li>
    <li><a href="/listR">Lista de Reservas </a></li>    
    {% endif %}
    {% if nivel==0 %}
    <li><a href="listS">Listar Salas</a></li>
   <li><a href="/reserv">Reservar Sala </a></li>
   <li><a href="/listR">Mis Reservas </a></li>
   {% endif %}
   <li><a href="/">Cerrar Sesion </a></li>
    </ol>
</div>
    {% if nivel==1 %}
    <button onclick="ActivarCampoOtroTema()">Nueva sala</button>
    {% endif %}
    <table>
     <h1> Lista de Salas</h1>
     {% with messages = get_flashed_messages() %}  
     {% if messages %}  
       {% for message in messages %}  
            <h2>{{ message }}</h2>  
       {% endfor %}  
     {% endif %}  
       {% endwith %}
        <tr>
              
            <th>Codigo</th>
            <th>Capacidad</th>
        
        
        </tr>
        <tbody>
            {% for data in datos %}
        
            <tr>
            <td>  {{ data.cod_sala }}</td>
        
            <td>
                {% if nivel==0 %}
                {{ data.capacidad }}
                {% endif %}
                {% if nivel==1 %}
                <form action="/editS{{ data.cod_sala }}" method="POST">
                <input type="number" id="apellido" name="capacidad" min="20" value="{{ data.capacidad }}" required>
            </td>
        
            <td>

                <button>editar</button>
                
                <button href="/elimS{{ data.cod_sala }}"onclick="return confirm('Estas seguro de borrar este producto?');">Borrar</button>
                </form>
                {% endif %}
                {% if nivel==0 %}
                <a href="" method="GET">Reservar</a>
                 
             {% endif %}
            </td>
           
            </tr>
          {% endfor %}
         
    </table>
    <div id="OtroTema" style="display:none;">
        <form action="/nuevaS" method="POST">
            <h1>Crear Sala </h1>
            
            <fieldset>
              <legend><span class="number">1</span>Ingrese los datos:</legend>
              <label for="password">Capacidad:</label>
              <input type="number" id="apellido" name="capacidadN" min="20" required>
              
              
              
            </fieldset>
            
            <button type="submit">Guardar</button>
            
          </form>
        
    </div>
       
    

</body>
</html>
